@import 'tailwindcss';
@import "@fortawesome/fontawesome-free/css/all.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-ccream: #FFEDED;
    --color-cbrown: #5C432F;
    --color-corange: #E7A776;
    --color-clgreen: #CEE39C;
    --color-cdgreen: #8BC34A;
    --color-ccgreen: #CEEFA8;
    --color-clilac: #DBBED4;
    --color-cpink: #F2B7D2;
    --color-botan: #DBBED4;
    --color-caqua: #E0F2F1;
}
